<footer class="container-fluid sesion text-white fw-bold p-5" id="footer">
    <div class="row">
        <div class="col-12 col-md-3 text-center">
            <h3 class="subtitle">Og House Med</h3>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h5 class="subtitle"> Copyright© 2023 </h5>
            <a href="https://www.instagram.com/oghouse_med/">
                <i class="bi bi-instagram fs-3 text-white me-4"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=3209525410">
                <i class="bi bi-whatsapp fs-3 text-white me-1"></i>
            </a>
        </div>
    </div>
</footer>
