body {
  scroll-behavior: smooth;
}

.menu{
  background-color: black;
	font-family: poppins;
	text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.center-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}