<header>    
    <nav class="navbar navbar-expand-lg menu navbar-dark fixed-top" id="menu">
        <div class="container-fluid">
          <a class="navbar-brand navbar-hover" routerLink="/">OG House</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav center-nav">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/destilados" >Destilados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/extracciones" >Extracciones</a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link active" routerLink="/comestibles" >Comestibles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/productos" >Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/eventos" >Eventos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
