.containerr{
background-image: url("https://firebasestorage.googleapis.com/v0/b/oghouse2023-73b37.appspot.com/o/og-destilados-banner.jpg?alt=media&token=e2d5f372-42e0-42a5-bc81-ee56f5d07f7d");
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	padding: 8%;
	position: relative;
  image-rendering: auto;
	z-index: 0;
}

.containerr::after {
	content: '';
	position: absolute;
	top:0;
	left:0;
	background-color: black;
	opacity: 0.4;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.zoom{
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(0.9);
}

.image-container {
  position: absolute;
  top: -3vw;
}

img{
border-radius: 19px;
}

.image-title {
  position: absolute;
  bottom: 1vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0.7, 0.7, 0.7);
  color: rgb(255, 255, 255);
  padding: 8px;
  font-size: 16px;
}

.card {
border-radius: 25px;
box-shadow: inset 28px 28px 56px #c3c3c3,
            inset -28px -28px 56px #474747;
}

.subtitle{
	font-size: 2w;
	font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
	text-align: center;
  color: white;
	letter-spacing: 2px;
  background: linear-gradient(-45deg, #22ff00, #51b06a, #ffffff, #ffffff, #ffffff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s ease infinite;
}

.subtitle_one{	
  font-size: 1.2vw;
	font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
	text-align: center;
	color: black;
}

.subtitle_two{
  font-size: 0.8vw;
	font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
	text-align: center;
	color: black;
}

.slide-top {
	-webkit-animation: slide-top 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10vw);
            transform: translateY(-10vw);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5vw);
            transform: translateY(5vw);
  }
}



@media screen and (max-width: 768px) {
  /* Estilos específicos para dispositivos con un ancho máximo de 768px */

.subtitle{
	font-size: 7vw;
}

.container {
	height: 100%;
  }

img, .card{
	width: 75vw;
	height: 65vw;

}

.image-container {
  position: absolute;
  left: -1vw;
  top: -4.3vw;
  width: 76vw;
}

.subtitle_one{	
  display: flex;
  font-size: 8vw;
}

}