<app-menu></app-menu>

<div class="containerr mt-5" id="destilados">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center subtitle">Conoce nuestros destilados</h2>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 mt-3 align-self-center focus-in-expand">
        <div class="col mb-3" *ngFor="let destilado of destilados">
    <div class="card h-100 shadow text-center mt-3 mb-3"> 
    <div class="image-container position-relative">
        <img src={{destilado.foto[0]}} alt="foto" class="img-fluid w-100 mt-3 zoom">
        <h4 class="image-title">{{destilado.nombre}}</h4>
    </div>
    <h6 class="mt-3 subtitle_one">{{destilado.descripcion}}</h6>
 
    <!--<h6 class="fw-bold mt-3 subtitle_two">{{destilado.precio}}</h6>-->
            </div>
        </div>
        <h2 class="text-center subtitle mt-5">También manejamos baterías, pregunta por ellas! </h2>
    </div>
</div>

<app-footer></app-footer>