.containerr{
background-image: url("https://firebasestorage.googleapis.com/v0/b/oghouse2023-73b37.appspot.com/o/destiladosbanner.jpeg?alt=media&token=531881a0-e72c-47a4-b03b-63746790ae1f");
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	padding: 8%;
	position: relative;
  font-family: poppins;
	text-transform: uppercase;
  image-rendering: auto;
	z-index: 0;
}

.containerr::after {
	content: '';
	position: absolute;
	top:0;
	left:0;
	background-color: black;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.zoom{
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(0.9);
}

.image-container {
  position: absolute;
  width: 20.2vw;
  top: -2vw;
  left: -0.1vw;
}

img{
border-radius: 19px;
height: 20vw;
}

.image-title {
  position: absolute;
  bottom: 1vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0.7, 0.7, 0.7);
  color: rgb(255, 255, 255);
  padding: 8px;
  font-size: 16px;
}

.card {
border-radius: 25px;
box-shadow: inset 28px 28px 56px #c3c3c3,
            inset -28px -28px 56px #474747;
}

.subtitle{
	font-size: 2.5vw;
  font-weight: bolder;
	text-align: center;
	letter-spacing: 2px;
  background: linear-gradient(-45deg, #22ff00, #51b06a, #ffffff, #ffffff, #ffffff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s ease infinite;
}

.subtitle_one{	
  font-size: 1.2vw;
  font-weight: bolder;
	text-align: center;
	color: black;
}

.subtitle_two{
  font-size: 0.8vw;
  font-weight: bolder;
	text-align: center;
	color: black;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 768px) {
  /* Estilos específicos para dispositivos con un ancho máximo de 768px */

.subtitle{
	font-size: 7vw;
}

.container {
	height: 100%;
  }

img, .card{
	width: 75vw;
	height: 75vw;

}

.image-container {
  position: absolute;
  left: -1vw;
  top: -4.3vw;
  width: 76vw;
}

.subtitle_one{	
  display: flex;
  font-size: 8vw;
}

}