.containerr{
background-image: url("https://firebasestorage.googleapis.com/v0/b/oghouse2023-73b37.appspot.com/o/og-extraccion-gelatoogjpg.jpg?alt=media&token=44d0d32a-4501-4b31-873b-414f4ec02274");
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	padding: 9%;
	position: relative;
  image-rendering: auto;
	z-index: 0;
}


.subtitle{
	font-size: 2vw;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	text-align: center;
	background-color: black;
	opacity: 0.6;
  	color: white;
	letter-spacing: 2px;
	background: linear-gradient(-45deg, #22ff00, #51b06a, #ffffff, #ffffff, #ffffff);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient 10s ease infinite;
}

.containerr::after {
	content: '';
	position: absolute;
	top:0;
	left:0;
	background-color: black;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	z-index: -1;
}



.image-title {
  position: absolute;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Poppins', sans-serif;	color: rgb(0, 0, 0);
  background-color: rgba(0, 0.7, 0.7, 0.7);
  color: rgb(255, 255, 255);
  padding: 8px;
  font-size: 16px;
}

.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 15s infinite alternate-reverse;
    
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
	position: relative;
	left: 26vw;
	border-radius: 24px;
	width: 35vw;
	height:25vw;
}
 @media screen and (min-width: 769px) {
   /* Estilos específicos para dispositivos con un ancho máximo de 768px  */

	.subtitle{
		font-size: 7vw;
	}

	.containerr {
		height: 100%;
  	}



	img {
  	position: relative;
	  width: 100vw;
	  height: 100vw;
	}

	.image-title{
  	position: relative;
  	bottom: 7vw;
	}
} 



@keyframes cambio{
    0%   { margin-left: 0;}
    20%  { margin-left: 0;}
  
    25%  { margin-left: -100%;}
    45%  { margin-left: -100%;}
  
    50%  { margin-left: -200%;}
    700% { margin-left: -200%;}
  
    75%  { margin-left: -300%;}
    100% { margin-left: -300%;}
  }