.Banner{
	background-image: url("https://firebasestorage.googleapis.com/v0/b/oghouse2023-73b37.appspot.com/o/og-evento.jpg?alt=media&token=0665e3ea-fb7b-4afa-ba7c-c449ac16c4a0");
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	padding: 22%;
	position: relative;
	image-rendering: auto;
	z-index: 1;
}

.Banner::after {
	content: '';
	position: absolute;
	top:0;
	left:0;
	background-color: black;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	z-index: -1;
}


.title{
	font-size: 4vw;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: bolder;
	color: white;
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 5.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: focus-in-expand 5.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}


@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.2em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 768px){

.title{
position: absolute;
top: 70vw;
left: 8vw;
font-size: 7vw; /* Ajusta el tamaño de fuente para dispositivos más pequeños */    
}


 img {
   height: auto; /* Hace que la altura de la imagen sea automática para dispositivos más pequeños */
   width: 100%;
}

.Banner{
	image-rendering: auto;
	background-size: cover;
	background-attachment: fixed;
	object-fit: contain;
    padding: 8%; /* Ajusta el relleno del banner para dispositivos más pequeños */
	height: 170vw;
  }

}